/* tt_octosquares fonts  */

@font-face {
  font-family: "tt_octosquares";
  src: url("./tt_octosquares/TT\ Octosquares\ Trial\ Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "tt_octosquares";
  src: url("./tt_octosquares/TT\ Octosquares\ Trial\ ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "tt_octosquares";
  src: url("./tt_octosquares/TT\ Octosquares\ Trial\ Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "tt_octosquares";
  src: url("./tt_octosquares/TT\ Octosquares\ Trial\ Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "tt_octosquares";
  src: url("./tt_octosquares/TT\ Octosquares\ Trial\ Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "tt_octosquares";
  src: url("./tt_octosquares/TT\ Octosquares\ Trial\ DemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "tt_octosquares";
  src: url("./tt_octosquares/TT\ Octosquares\ Trial\ Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "tt_octosquares";
  src: url("./tt_octosquares/TT\ Octosquares\ Trial\ Expanded\ ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "tt_octosquares";
  src: url("./tt_octosquares/TT\ Octosquares\ Trial\ Black.ttf");
  font-weight: 900;
}

/* jost font  */
@font-face {
  font-family: "cosmic";
  src: url("./cosmic/cosmic.ttf");
}
