/* media query 1200 */
@media (max-width: 1200px) {
  .info_sec{
    margin-block: 140px 65px;
  }
  .banner_heading {
    font-size: 90px;
  }
  .banner_btns {
    margin-top: 80px;
  }
  .info {
    /* padding-block: 70px; */
    margin-bottom: 70px;
  }
  .info_heading {
    font-size: 52px;
}
  .why {
    padding-top: 70px;
  }
  .signup {
    margin-bottom: 70px;
  }
  .featured {
    padding-block: 70px;
  }
}
/* media query 1024 */
@media (max-width: 1024px) {
  .info_sec{
    margin-block: 120px 60px;
  }
  iframe#iframe {
    height: 100% !important;
  }
  .heading {
    font-size: 50px;
    margin-bottom: 24px;
  }
  .banner_heading {
    font-size: 80px;
  }
  .banner_btns {
    margin-top: 70px;
  }
  .info {
    /* padding-block: 60px; */
    margin-bottom: 60px;
  }
  .why {
    padding-top: 60px;
  }
  .why_title {
    margin-bottom: 16px;
  }
  .why_desc {
    font-size: 26px;
  }
  .signup {
    margin-bottom: 60px;
  }
  .featured {
    padding-block: 60px;
  }
  .info_heading {
    font-size: 44px;
    margin-block: 40px;
  }
  .info_desc {
    font-size: 26px;
    margin-bottom: 20px;
  }
}

/* media query 991 */
@media (max-width: 991px) {
  .sec_heading {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .heading {
    font-size: 45px;
    margin-bottom: 20px;
  }
  .banner_heading {
    font-size: 70px;
  }
  .header_list {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: var(--purple-light);
    position: fixed;
    height: 100%;
    gap: 20px;
    top: 0;
    z-index: 5;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.9) -4px 9px 25px -6px;
    transform: translateX(100%);
    max-width: 350px;
    width: 100%;
    transition: 0.3s ease-in-out;
  }
  .header_list.active {
    right: 0;
    transform: translateX(0%);
  }
  .humburger {
    display: flex;
  }
  .close_menu {
    display: flex;
  }
  .banner_btns {
    margin-top: 60px;
  }
  .info {
    /* padding-block: 50px; */
    margin-bottom: 50px;
  }
  .why {
    padding-top: 50px;
  }
  .featured {
    padding-block: 50px;
  }
  .info_right {
    max-width: 50%;
  }
  .why_wrapper {
    flex-wrap: wrap;
  }
  .why_box {
    max-width: 48%;
  }
  .featured_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .signup {
    margin-bottom:50px;
  }
  .info_heading {
    font-size: 42px;
    margin-block: 20px;
  }
  .footer_navbar {
    width: 26%;
  }
}
/* media query 768 */
@media (max-width: 768px) {
  .info_sec{
    margin-block: 110px 50px;
  }
  .sec_heading {
    font-size: 36px;
    margin-bottom: 28px;
  }
  .sec_title {
    font-size: 26px;
    margin-bottom: 14px;
}
  .info_img {
    height: 330px;
  }
  .header_logoLnk {
    height: 26px;
    width: 180px;
  }
  .banner_content {
    padding-inline: 8px;
  }
  .heading {
    font-size: 36px;
    margin-bottom: 18px;
  }
  .banner_heading {
    font-size: 50px;
  }
  .banner_btns {
    margin-top: 42px;
  }
  .info {
    /* padding-block: 40px; */
    margin-bottom: 40px;
  }
  .featured {
    padding-block: 40px;
  }
  .featured_gameLnk {
    height: 248px;
  }
  .info_wrapper {
    flex-direction: column;
  }
  .info_left,
  .info_right {
    max-width: 100%;
  }
  .why {
    padding-top: 40px;
  }
  .why_title {
    font-size: 24px;
  }
  .why_desc {
    font-size: 20px;
  }
  .why_box {
    max-width: 100%;
  }
  .why_box {
    padding: 18px;
  }
  .info_heading {
    font-size: 38px;
    margin-block: 18px;
  }
  .info_desc {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .featured_wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer_left {
    width: 40%;
    order: 1;
  }
  .footer_icon {
    width: 180px;
  }
  .footer_content {
    padding-block: 38px;
  }
  .footer_navbar {
    width: 40%;
    order: 4;
  }
  .footer_socials {
    width: 40%;
    order: 2;
  }
  .social_link {
    width: 24px;
    height: 24px;
  }
}
/* media query 575 */
@media (max-width: 575px) {
  .info_sec{
    margin-block: 90px 40px;
  }
  .sec_heading {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .sec_title {
    font-size: 24px;
    margin-bottom: 12px;
}
  .sec_desc {
    font-size: 16px;
    margin-bottom: 12px;
}
  .mobile-view{
    /* display: block; */
   padding-bottom: 32px;
  }
  .desktop_version{
    /* display: none; */
  }
  .heading {
    font-size: 28px;
    margin-bottom: 16px;
  }
  .info_img {
    height: 260px;
  }
  .banner_content {
    padding-inline: 4px;
  }
  .why {
    padding-top: 32px;
  }
  .why_title {
    font-size: 22px;
    margin-bottom: 12px;
  }
  .why_desc {
    font-size: 18px;
  }
  .banner_heading {
    font-size: 38px;
  }
  .banner_btns {
    margin-top: 20px;
  }
  .featured {
    padding-block: 32px;
  }
  .featured_gameLnk {
    height: 200px;
  }
  .signup {
    margin-bottom: 40px;
  }
  .signup_form {
    flex-direction: column;
  }
  .info {
    /* padding-block: 32px; */
    margin-bottom: 32px;
  }
  .info_heading {
    font-size: 26px;
    margin-block: 16px;
  }
  .info_desc {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .header_logoLnk {
    height: 20px;
    width: 150px;
  }
  .footer_title {
    font-size: 22px;
}
  .footer_left {
    width: 100%;
  }
  .footer_navbar {
    width: 100%;
    order: 4;
  }
  .footer_content {
    padding-block: 24px;
  }
  .footer_socials {
    width: 100%;
    order: 4;
  }
  .footer_social {
    padding: 4px;
  }
}
