* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  /* color */
  --black-color: #000000;
  --light-black: #000123;
  --white-color: #ffffff;
  --purple-light: #8c52ff;
  --cyan-soft: #5ce1e6;

  /* font family */
  --primary-font: "tt_octosquares";
  --secondary-font: "cosmic";
}
body {
  font-family: var(--primary-font);
  background-color: var(--light-black);
}
.container {
  max-width: 1432px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.btn {
  font-size: 20px;
  font-weight: 400;
  background-color: var(--purple-light);
  color: var(--white-color);
  border: 1px solid transparent;
  outline: none;
  border-radius: 16px;
  padding: 10px 50px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  background-color: transparent;
  border-color: var(--white-color);
}
.mt-8 {
  margin-top: 80px;
}
.mt-6 {
  margin-top: 60px;
}
.mt-5 {
  margin-top: 50px;
}
.mt-4 {
  margin-top: 40px;
}
.mt-3 {
  margin-top: 32px;
}
/* header section */
.homepage .header {
  top: 50px;
}
.header {
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 15px 0;
  transition: background-color 0.3s, padding 0.3s, box-shadow 0.3s;
}
.header.scrolled {
  background: var(--purple-light);
  top: 0;
  box-shadow: rgb(255 255 255 / 35%) 0px 5px 15px;
}
.header_wrappr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logoLnk {
  background-image: url("/assets/images/logo.png");
  height: 30px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
}
.header_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 12px;
}
.header_item {
  padding-inline: 24px;
}
.header_link {
  color: var(--white-color);
  font-size: 18px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.header_link::after {
  width: 0%;
  position: absolute;
  content: "";
  bottom: -6px;
  right: 0;
  background-color: var(--white-color);
  height: 2px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.header_link:hover::after {
  width: 100%;
  left: 0;
}
.header_link.active::after {
  width: 100%;
}
.humburger {
  display: none;
}
.humburger_icon,
.close_menuIcon {
  background-image: url("/assets/images/hamburger-menu.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  filter: invert(1);
  cursor: pointer;
}
.close_menuIcon {
  background-image: url("/assets/images/close_icon.png");
  position: absolute;
  top: 12px;
  right: 15px;
}
.close_menu {
  display: none;
}
/* banner section */
.banner {
  background-image: url("/assets/images/banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 550px; */
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.banner_content {
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 10px;
}
.banner_heading {
  font-size: 100px;
  color: rgb(255, 255, 255);
  line-height: 90%;
  text-align: center;
  font-weight: 400;
}

.banner_btns {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

/* info section */
.info {
  color: var(--white-color);
  border-bottom: 1px solid var(--white-color);
  padding-block: 77px;
}
.info_wrapper {
  display: flex;
  justify-content: space-between;
}
.info_left {
  width: 100%;
  max-width: 40%;
}
.info_right {
  max-width: 40%;
  width: 100%;
}
.info_heading {
  font-size: 56px;
  font-weight: 400;
  color: rgb(140, 82, 255);
  margin-block: 50px 20px;
}
.info_desc {
  font-size: 28px;
  font-weight: 400;
  color: var(--white-color);
  line-height: 135%;
  margin-bottom: 26px;
}
.info_img {
  background-image: url("/assets/images/info.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 550px;
  width: 100%;
}
.info_btns {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
/* why section */
.why {
  background-color: rgb(0, 1, 35);
  color: var(--white-color);
  padding-block: 77px 20px;
}
.why_heading {
  text-align: center;
  font-size: 80px;
  margin-bottom: 30px;
}
.why_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
}
.why_box {
  max-width: 26%;
  padding: 24px;
  border-radius: 4px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.8) 0px 7px 29px 0px;
}
.why_box:hover {
  transform: translateY(-10px);
}
.why_title {
  font-size: 28px;
  font-weight: 700;
  line-height: 135%;
  color: var(--purple-light);
  margin-bottom: 17px;
}
.why_desc {
  font-size: 28px;
  line-height: 130%;
  font-weight: 400;
  color: var(--white-color);
}
/* featured section */
.featured {
  padding-block: 77px 172px;
  background-color: rgb(0, 1, 35);
}
.featured_wrapper {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.featured_game {
  /* width: 33%; */
  width: 100%;
  border: 1px solid var(--purple-light);
  border-radius: 8px;
  position: relative;
  transition: 0.3s ease-in-out;
}
.featured .heading {
  text-align: center;
  font-size: 80px;
  font-weight: 400;
  color: var(--white-color);
  margin-bottom: 30px;
}

.featured_game .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.featured_game:hover .middle {
  opacity: 1;
}
.featured_game:hover {
  transform: translateY(-10px);
}
.featured_game:hover .featured_gameLnk {
  opacity: 0.5;
}
.featured_gameLnk {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  border-radius: 8px;

  display: block;
}
.featured_gameLnk--one {
  background-image: url("/assets/images/7-Clovers-Of-Fortune.png");
}
.featured_gameLnk--two {
  background-image: url("/assets/images/himalayan-wild.png");
}
.featured_gameLnk--three {
  background-image: url("/assets/images/fangtastic-freespins.png");
}
/* footer section */
.footer {
  /* background-color: #1a1e20; */
  background-color: rgb(0, 1, 35);
  color: var(--white-color);
}
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.disclaimer h3 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 12px;
}
.footer a {
  color: var(--white-color);
}
.footer_left {
  width: 25%;
}
.footer_navbar {
  width: 23%;
}
.footer_socials {
  width: 20%;
}
.footer_content {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-block: 50px;
}
.footer_icon {
  background-image: url("../images/logo.png");
  height: 32px;
  width: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
}
.footer_title {
  margin-bottom: 1rem;
  font-size: 24px;
  font-weight: 500;
  color: var(--white-color);
}
.footer_link {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 18px;
  color: var(--white-color);
  position: relative;
  transition: all 0.3s ease-in-out;
}

.footer_link::after {
  width: 0%;
  position: absolute;
  content: "";
  bottom: -6px;
  right: 0;
  background-color: var(--white-color);
  height: 2px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.footer_link:hover::after {
  width: 100%;
  left: 0;
}
.footer_socialsWrapp {
  display: flex;
  gap: 10px;
}
.footer_social {
  border: 1px solid var(--purple-light);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.footer_social:hover {
  background-color: var(--purple-light);
}
.social_link {
  background-image: url("../images/facebook.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 24px;
  height: 24px;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  /* filter: invert(1); */
  transition: all 0.3s linear;
}

.footer_copyRight p {
  font-size: 14px;
}
.footer_copyRight a:hover {
  text-decoration: underline;
}
.social_link--fb {
  background-image: url("../images/facebook.svg");
}
.social_link--twitter {
  background-image: url("../images/twitter.svg");
}

.social_link--inta {
  background-image: url("../images/instagra.svg");
}

.social_link--linkedin {
  background-image: url("../images/inkedIn.svg");
}

.footer_btm {
  /* background-color: #131719; */
  background-color: rgb(0, 1, 35);
  border-top: 1px solid var(--ligh-Gray);
  border-top: 1px solid var(--white-color);
}

.footer_btmSec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 12px;
}

.footer_SSlLink {
  background-image: url("../images/ssl.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 120px;
  height: 32px;
  display: block;
}
/* game main section  */
.main_game {
  margin-block: 150px 32px;
}

iframe#iframe {
  height: 550px !important;
  width: 100%;
  aspect-ratio: 1/1;
}

/* classic section */
.classic .featured_gameLnk--one {
  background-image: url("/assets/images/classic1.png");
}
.classic .featured_gameLnk--two {
  background-image: url("/assets/images/classic2.png");
}
.classic .featured_gameLnk--three {
  background-image: url("/assets/images/classic3.png");
}
.classic .featured_gameLnk--four {
  background-image: url("/assets/images/classic4.png");
}
.classic .featured_gameLnk--five {
  background-image: url("/assets/images/classic5.png");
}
.classic .featured_gameLnk--six {
  background-image: url("/assets/images/classic6.png");
}
.classic .featured_gameLnk--seven {
  background-image: url("/assets/images/classic7.png");
}
.classic .featured_gameLnk--eight {
  background-image: url("/assets/images/classic8.png");
}
.classic .featured_gameLnk--nine {
  background-image: url("/assets/images/classic9.png");
}

/* New game  section */
.new-games .featured_gameLnk--one {
  background-image: url("/assets/images/new-game1.png");
}
.new-games .featured_gameLnk--two {
  background-image: url("/assets/images/new-game2.png");
}
.new-games .featured_gameLnk--three {
  background-image: url("/assets/images/new-game3.png");
}
.new-games .featured_gameLnk--four {
  background-image: url("/assets/images/new-game4.png");
}
.new-games .featured_gameLnk--five {
  background-image: url("/assets/images/new-game5.png");
}
.new-games .featured_gameLnk--six {
  background-image: url("/assets/images/new-game6.png");
}
.new-games .featured_gameLnk--seven {
  background-image: url("/assets/images/new-game7.png");
}
.new-games .featured_gameLnk--eight {
  background-image: url("/assets/images/new-game8.png");
}
.new-games .featured_gameLnk--nine {
  background-image: url("/assets/images/new-game8.png");
}
